<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Simple Blog</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.RouteUrl("home")">Simple Blog</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <p class="navbar-text">Welcome back, @User.Identity.Name</p>
                }
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @if (User.Identity.IsAuthenticated)
                {
                    
                    <a class="navbar-link navbar-right" style="padding:15px 15px;" href="@Url.RouteUrl("logout")">Logout</a>

                    if (User.IsInRole("admin"))
                    {
                        <a class="navbar-link navbar-right" style="padding:15px 15px;" href="@Url.Action("index","Posts", new {area="admin"})">View posts in admin</a>
                    }
                }
                else
                {
                    <a class="navbar-link navbar-right" style="padding:15px 15px;" href="@Url.RouteUrl("login")">Login</a>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Simple Blog</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>